.kef {
    text-align: center;
}

a:link, a:visited {
    background-color: #dedede;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px 8px;
    margin-right:4px;
    margin-left:4px;
}
a:hover, a:active {
    background-color: #bdbdbd;
    border-right:4px solid #424242;
}

form {
    text-align:center;
    margin:24px;
    background-color:#dedede;
    border-radius: 32px 16px;
    padding:12px;
}

input {
    background-color:#bdbdbd;
    border:0px solid black;
    border-radius: 24px 8px;
    padding:16px;
    color:black;
    placeholder:"Iixa kanooi";
    box-shadow: 0px 0px 0px 0px #bdbdbd3e;
}
input:hover {
    background-color:#a4a4a4;
}
input:focus {
    outline:none;
    border-bottom:4px solid #424242;
}

table, th, td {
    border: 1px solid #ecf8f2;
    border-collapse: collapse;
    background-color: #61caac;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 32px 16px;
    width:50%;
}
table {
    border: 1px solid white;
    border-radius: 32px 16px;
    width:97%;
    margin:24px;
}