.kef {
    text-align: center;
}
h {
    background-color: #d0d0d0;
	color: black;
	padding: 8px 12px;
	align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 24px 4px;
	border-right: 2px solid #d0d0d0;
	margin-block: 4px;
	width: 32px;
}
h1 {
    text-align:left;
    margin-right:4px;
    margin-left:12px;
}


a:link, a:visited {
    background-color: #e0e0e0;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 24px 4px;
    margin-right: 4px;
    margin-left: 4px;
    margin-block: 4px;
    width: 32px;
}
a:hover, a:active {
    background-color: #d8d8d8;
    border-right:2px solid #424242;
}

form {
    text-align:center;
    margin:24px;
    background-color:#f0f0f0;
    border-radius: 32px 16px;
    padding:12px;
}


input {
    background-color:#bdbdbd;
    border:0px solid black;
    border-radius: 24px 8px;
    padding:16px;
    color:black;
    placeholder:"Iixa kanooi";
    box-shadow: 0px 0px 0px 0px #bdbdbd3e;
}
input:hover {
    background-color:#a4a4a4;
}
input:focus {
    outline:none;
    border-bottom:4px solid #424242;
}


table, th, td {
    border: 1px solid #ecf8f2;
    border-collapse: collapse;
    background-color: #61caac;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 32px 16px;
    width:50%;
}
table {
    border: 1px solid white;
    border-radius: 32px 16px;
    width:97%;
    margin:24px;
}


p {
	text-align: center;
    background-color: #f0f0f0;
    border: 0px solid #f0f0f0;
   	border-radius: 32px 8px;
   	padding: 8px;
   	margin-inline: 0;
    margin-block: 12px;
    color: black;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}