@font-face {
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	src: url("ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ.ttf");
}

:root {
	ខេលេសៃ: #fff;
	
	ជាងាធី: #f0f0f0;
	ពិសាធី: #e0e0e0;
	តិជាធី: #d0d0d0;
	តាវាធី: #c0c0c0;
	ព៏ធី: #b0b0b0;

	តិជាធី២អុមា: #d8d8d8;
	តាវាធី២អុមា: #c8c8c8;

	កាន្តុនី: #424242;

	កេភ: #000;
}

body {
	background-color: var(ខេលេសៃ);
	margin: 20px 24px 24px 24px;
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100%;
}
html {
	height: 100%;
}
main {
	display: table-cell;
	vertical-align: bottom;
}
div {
	scrollbar-width: none;
}

h {
	background-color: var(តិជាធី);
	color: var(កេភ);
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 24px 8px;
	border: 0px solid var(តាវាធី);
	border-right: 4px solid var(កេភ);
	margin-block: 4px;
	width: 32px;
}
h1 {
	color: black;
	text-align:left;
	margin:16px;
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}
.miikef {
	width: max-content;
	text-align: center;
	background-color: transparent;
	padding: 8px;
	margin-inline: 0;
	margin-block: 4px;
	color: var(កេភ);
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}
.oshiipewa {
	width: max-content;
	text-align: left;
	align-self: end;
	background-color: transparent;
	padding: 8px;
	margin-inline: 0;
	margin-block: 4px;
	color: var(កេភ);
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}
embed {
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	margin-block: 4px;
}


a:link, a:visited {
	background-color: var(ពិសាធី);
	color: var(កេភ);
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	justify-content: center;
	border-radius: 24px 8px;
	border: 1px solid var(តិជាធី);
	margin-right: 4px;
	margin-left: 4px;
	margin-block: 4px;
	width: 32px;
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}
a:hover, a:active {
	background-color: var(តិជាធី២អុមា);
	border: 0px solid var(តាវាធី២អុមា);
	border-right: 4px solid var(កាន្តុនី);
	width: 32px;
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}

form {
	display: flex;
	text-align: center;
	background-color: var(ជាងាធី);
	color: var(កេភ);
	border-radius: 32px 16px;
	border: 1px solid var(ពិសាធី);
	padding: 12px 12px 4px 12px;
}
.tapairaq {
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 8px;
	height: 95%;
	height: -webkit-fill-available;
}
.tapaisaq {
	flex-direction: row;
	align-items: center;
	margin-right: 8px;
	height: 95%;
	height: -webkit-fill-available;
}
.cepai {
	flex-direction: column-reverse;
	align-items: center;
	margin-block: 4px;
}

p {
	width: -moz-available;
	width: -webkit-fill-available;
	text-align: center;
	background-color: var(ជាងាធី);
	border-radius: 32px 16px;
	padding: 8px;
	margin-inline: 0;
	margin-block: 4px;
	color: var(កេភ);
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}
.ciihii {
	background-color: var(ពិសាធី);
	border-radius: 28px 12px;
        border: 0px solid var(តិជាធី);
	margin-block: 0px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}
.ciihiitapai {
	align-self: center;
	width: 100%;
	height: 97%;
	height: -webkit-fill-available;
	margin: 0 8px 8px 0 !important;
	display: flex !important;
	align-items: center;
}

.vertical-center {
	margin: 0;
	position: sticky;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


input {
	width: -moz-available;
	width: -webkit-fill-available;
	background-color: var(ពិសាធី);
	border: 0px solid var(តិជាធី);
	border-radius: 28px 12px;
	padding: 16px;
	color: var(កេភ);
	placeholder: "ꞁȷ̀ɹ ʃᴜ ſɭᴜ }ʃɜꞇ";
	box-shadow: 0px 0px 0px 0px #e0e0e03e;
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
}
input:hover {
	background-color: var(តិជាធី);
}
input:focus {
	outline:none;
	border-top: 4px solid var(កាន្តុនី);
}

table {
	border: 0px solid var(ពិសាធី);
	border-radius: 32px 16px;
	width: 100%;
	margin: 4px 0px;
	background-color: var(ជាងាធី);
	border-spacing: 8px;
	table-layout: fixed;
}
tr {
	background-color: var(ពិសាធី);
	border: 0px solid var(តិជាធី);
}
th, td {
	border: 0px solid var(ខេលេសៃ);
	border-collapse: collapse;
	color: black;
	padding: 8px;
	text-align: center;
	border-radius: 28px 12px;
	width: 50%;
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	max-height: 1000em;
	overflow: hidden;
	word-wrap: break-word;
}
.cashiil {
	writing-mode: vertical-lr; 
	width: min-content;
	height: 640px;
	background-color: var(ពិសាធី);
	border: 0px solid var(តិជាធី);
	margin-block: 8px;
	margin-inline: 0px;
	align-self: start;
}
.cashiilciihii {
	background-color: var(តិជាធី);
	border: 0px solid #c0c0c0;
}

img {
	height: 600px;
	align-self: center;
	border-radius: 32px 16px;
	margin: 8px;
}


@media (prefers-color-scheme: dark) {
	:root {
		ខេលេសៃ: #000;
	
		ជាងាធី: #181818;
		ពិសាធី: #282828;
		តិជាធី: #383838;
		តាវាធី: #484848;
		ព៏ធី: #585858;

		តិជាធី២អុមា: #404040;
		តាវាធី២អុមា: #505050;

		កាន្តុនី: #bdbdbd;

		កេភ: #fff;
	}
}


@media only screen and (width: 801px) {
}
