@font-face {
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ.ttf");
}
@font-face {
	font-family: "ꞁȷ̀ɹ ſɭˬꞇᴜ ſ͔ɭɹ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ꞁȷ̀ɹ ſɭˬꞇᴜ ſ͔ɭɹ.ttf");
}
@font-face {
	font-family: "ı],ᴜ }ʃᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ı],ᴜ }ʃᴜ.ttf");
}
@font-face {
	font-family: "ɭʃⲝ ɭʃᴜ oͮſɭᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ɭʃⲝ ɭʃᴜ oͮſɭᴜ.ttf");
}

:root {
	--អិត្ភេពឺ: 32px 12px;
	--អិត្ភេ: 24px 8px;
	--អិត្ភេចិ: 20px 8px;
	--អិត្ភេមិ: 16px 4px;

	--តានេកខេលេ: #ffffff10;
	--តានេក: #ffffff10;
	--តានេក២: #ffffff20;
	--តានេក៣: #ffffff30;

	--សាកព៏: 1px solid var(--តានេក);
	--សាកព៏២: 1px solid var(--តានេក២);
	--សាកព៏៣: 1px solid var(--តានេក៣);

	--ខេលេសៃ: #000;
	
	--ឆាងាធី: #181818;
	--ពិសាធី: #282828;
	--តិជាធី: #383838;

	--ខេលេសៃច្ហិ: #000000a0;
	--ឆាងាធីច្ហិ: #181818c0;

	--កេភ: #fff;
	--កេភ២: #c4c4c4;

	--អារេងព៏: 16px;
	--អារេងចិ: 12px;
	--អារេង: 8px;
	--អារេងមិ: 4px;

	--ច្ហិនី: blur(32px);
}
@media (prefers-color-scheme: light) {
	:root {
		--តានេកខេលេ: #00000008;
		--តានេក: #00000010;
		--តានេក២: #00000020;
		--តានេក៣: #00000030;

		--ខេលេសៃ: #fff;
		
		--ឆាងាធី: #f4f4f4;
		--ពិសាធី: #e4e4e4;
		--តិជាធី: #d4d4d4;

		--ខេលេសៃច្ហិ: #ffffffa0;
		--ឆាងាធីច្ហិ: #f4f4f4c0;

		--កេភ: #000;
		--កេភ២: #484848;
	}
}

* {
	font-family: "ı],ᴜ }ʃᴜ", "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	font-size-adjust: 0.5;
	color: var(--កេភ);
	scrollbar-width: thin;
}
*:not(.tapairaq:has(.flak:not(.atleflak):not(.flakciihii))):not(.tapaisaq:has(.flak:not(.atleflak):not(.flakciihii))):not(.flakciihiicepai:not(.atleflak)) {
	gap: var(--អារេង);
}

body {
	background-color: var(--ខេលេសៃ);
	display: flex;
	flex-direction: row; 
	flex-wrap: nowrap; 
	align-items: center; 
	justify-content: flex-start; 
	min-height: 100%;
	height: 100%;
	margin: 0;
	transition: all 0.25s ease;
}
html {
	height: 100%;
}
main {
	display: table-cell;
	vertical-align: bottom;
}
div {
	scrollbar-width: none;
}
shematapai {
	display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: calc(100% - 80px);
    align-items: center;
    padding: var(--អារេងព៏);
	scrollbar-width: none;
}
sak {
	background-color: var(--កេភ២);
    border-radius: 1024px;
    display: flex;
    text-align: center;
    padding: 2px;
    height: 32px;
}
.saktapai {
	width: 32px;
    height: auto;
    align-self: center;
}
.tlacepai {
	flex-direction: column;
	justify-content: center;
	padding: var(--អារេងព៏);
	min-height: unset;
	height: unset;
	align-items: unset;
}
.sakatla {
	opacity: 0.875;
	transform: scale(0.875);
}
.atletla {
	animation: sashe 0.25s ease-out;
}
@keyframes sashe {
	from {
		opacity: 0.875;
		transform: scale(0.875);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

h {
	background-color: var(--តានេក២);
	border-radius: var(--អិត្ភេចិ);
	padding: var(--អារេង) var(--អារេងចិ);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 32px;
}
h1 {
	text-align: left;
	margin: var(--អារេងព៏);
	font-weight: unset;
	font-family: "ı],ᴜ }ʃᴜ";
}
p {
	margin: 0;
	text-align: center;
}
pre {
	margin-block: 0;
}
.cepaifal {
	font-family: "ı],ᴜ }ʃᴜ";
	writing-mode: sideways-lr;
	flex-direction: column;
}
.cepaifalxez:not(.kosabo span) {
	display: inline-block;
	transform: rotate(90deg);
	white-space: nowrap;
	margin-block: var(--អារេង);
}
.cepaifal thala {
	flex-direction: column;
	margin-inline: var(--អារេងព៏)
}
.cepaifal ciihii {
	flex-direction: column;
}
.cepaifal ciihii .oshiipewa {
	align-self: start;
}
.powukfal p, .powukfal a, .powukfal a {
	transform: scale(-1, 1);
}
.sashesaikef {
	background-color: transparent;
	width: max-content;
	font-size: x-large;
	text-align: left;
	padding: var(--អារេង);
}
.miikef {
	background-color: transparent;
	width: max-content;
	text-align: center;
	padding: var(--អារេង);
	margin-inline: 0;
}
.oshiipewa {
	background-color: transparent;
	width: max-content;
	text-align: left;
	align-self: end;
	padding: var(--អារេង);
	margin-inline: 0;
}
.zatseuxani {
	background-color: var(--តិជាធី);
}
embed, iframe {
	display: flex;
	border-radius: var(--អិត្ភេ);
}

button, a:link, a:visited {
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេចិ);
	border: var(--សាកព៏);
	padding: var(--អារេង) var(--អារេងចិ);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	justify-content: center;
	width: 32px;
}
button {
	width: 64px;
	height: 100%;
}
button:hover, a:hover, a:active {
	background-color: var(--តានេក២);
}

thala {
	background-color: var(--តានេកខេលេ);
	border-radius: var(--អិត្ភេ);
	border: var(--សាកព៏);
	display: flex;
	text-align: center;
	align-items: center;
	padding: var(--អារេងចិ);
}
.tapairaq {
	flex-direction: row-reverse;
	align-items: center;
	height: calc(100% - var(--អារេងព៏));
}
.tapaisaq {
	flex-direction: row;
	align-items: center;
	height: calc(100% - var(--អារេងព៏));
}
.cepai {
	flex-direction: column-reverse;
	align-items: center;
}

ciihii {
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេចិ);
	border: var(--សាកព៏);
	padding: var(--អារេង);
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: calc(100% - var(--អារេងព៏));
}
.ciihiitapai {
	align-self: center;
	width: 100%;
	height: calc(100% - var(--អារេងព៏));
	display: flex !important;
	align-items: center;
}
.ciihiicepai {
	flex-direction: column;
	width: calc(100% - 32px) !important;
	padding: var(--អារេងព៏) !important;
}
.sorha {
	transition: all 0.25s ease;
	scale: 0;
	position: fixed;
	bottom: var(--អារេងព៏);
	left: var(--អារេងព៏);
	right: var(--អារេងព៏);
	display: flex;
	justify-content: center;
	background-color: var(--ឆាងាធីច្ហិ);
	backdrop-filter: var(--ច្ហិនី);
	flex-direction: row;
}

.flak {
	display: flex;
	height: calc(100% - var(--អារេងព៏));
	border-radius: var(--អិត្ភេចិ);
	flex-direction: row;
	align-items: center;
}
.flak:hover {
	border: var(--សាកព៏៣);
}
.atleflak:before {
	content: "|"
}
.ciihiiflak {
	display: flex;
	overflow: hidden;
    height: 100%;
	align-items: center;
	max-width: 0;
	transition: 0.25s ease-out;
	padding-block: 1px;
}
.ciihiiflakcepai {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	align-items: center;
	max-height: 0;
	transition: 0.25s ease-out;
}
.atleciihiiflak {
	max-width: unset;
}
.flakciihii {
	height: calc(100% - var(--អារេងព៏));
	border: var(--សាកព៏២);
	flex-direction: row;
}
.flakciihiicepai {
	height: unset;
	width: 100%;
	border: var(--សាកព៏២);
	flex-direction: column-reverse;
	padding-block: var(--អារេង);
}

input, textarea {
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេចិ);
	border: var(--សាកព៏);
	height: 94%;
	height: -moz-available;
	height: -webkit-fill-available;
	width: 94%;
	padding: var(--អារេងព៏);
	backdrop-filter: var(--ច្ហិនី);
}
input:hover {
	background-color: var(--តានេក២);
}
input:focus {
	outline:none;
}

table {
	background-color: var(--តានេកខេលេ);
	border-radius: 	var(--អិត្ភេ);
	border: var(--សាកព៏);
	width: 100%;
	margin: 0;
	border-spacing: var(--អារេង);
	table-layout: fixed;
}
td {
	background-color: var(--តានេក);
	border: var(--សាកព៏);
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ", "ı],ᴜ }ʃᴜ";
}
th, td {
	border-radius: var(--អិត្ភេចិ);
	border-collapse: collapse;
	padding: var(--អារេង);
	text-align: center;
	width: 50%;
	max-height: 1000em;
	overflow: hidden;
	word-wrap: break-word;
}
.cashiil {
	background-color: var(--តានេកខេលេ);
	border: var(--សាកព៏);
	writing-mode: vertical-lr; 
	width: min-content;
	height: 640px;
	margin-block: var(--អារេង);
	margin-inline: 0;
	align-self: start;
}
.cashiilciihii {
	background-color: var(--តានេក);
	border: var(--សាកព៏);
}

img {
	border-radius: var(--អិត្ភេ);
	align-self: center;
	height: 75vh;
	pointer-events: none;
}

@media (prefers-color-scheme: light) {
	ciihii {
		background-color: var(--ខេលេសៃច្ហិ);
	}

	.tahaqkef {
		filter: invert();
	}
}