@font-face {
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ.ttf");
}
@font-face {
	font-family: "ꞁȷ̀ɹ ſɭˬꞇᴜ ſ͔ɭɹ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ꞁȷ̀ɹ ſɭˬꞇᴜ ſ͔ɭɹ.ttf");
}
@font-face {
	font-family: "ı],ᴜ }ʃᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ı],ᴜ }ʃᴜ.ttf");
}
@font-face {
	font-family: "ɭʃⲝ ɭʃᴜ oͮſɭᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ɭʃⲝ ɭʃᴜ oͮſɭᴜ.ttf");
}

:root {
	--ខេលេសៃ: #fff;
	--ខេលេសៃច្ហិ: #ffffffc0;
	
	--ជាងាធី: #f4f4f4;
	--ពិសាធី: #e4e4e4;
	--តិជាធី: #d4d4d4;
	--តាវាធី: #c4c4c4;
	--ព៏ធី: #b4b4b4;

	--ជាងាធីច្ហិ: #f4f4f4c0;
	--ពិសាធីច្ហិ: #e4e4e4c0;

	--ពិសាធី២អុមា: #dcdcdc;
	--តិជាធី២អុមា: #cccccc;
	--តាវាធី២អុមា: #bcbcbc;

	--កាន្តុនី: #424242;

	--កេភ: #000;
	--កេភ២: #484848;

	--អិត្ផេពឺ: 32px 16px;
	--អិត្ផេពឺចិ: 28px 12px;
	--អិត្ផេ: 24px 8px;
	--អិត្ផេចិ: 20px 4px;
	--អិត្ផេមិ: 16px 8px;
	--អិត្ផេមិចិ: 12px 4px;
}

* {
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	color: var(--កេភ);
	transition: all 0.2s ease;
}
*:not(.tapairaq:has(.flak:not(.atleflak):not(.flakciihii))):not(.tapaisaq:has(.flak:not(.atleflak):not(.flakciihii))):not(.flakciihiicepai:not(.atleflak)) {
	gap: 8px;
}

body {
	background-color: var(--ខេលេសៃ);
	display: flex;
	flex-direction: row; 
	flex-wrap: nowrap; 
	align-items: center; 
	justify-content: flex-start; 
	min-height: 100%;
	height: 100%;
	margin: 0;
	transition: all 0.2s ease;
}
html {
	height: 100%;
}
main {
	display: table-cell;
	vertical-align: bottom;
}
div {
	scrollbar-width: none;
}
shematapai {
	display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: calc(100% - 48px);
    align-items: center;
    padding: 16px;
	scrollbar-width: none;
}
sak {
	background-color: var(--កេភ២);
    border-radius: 1024px;
    display: flex;
    text-align: center;
    padding: 2px;
    height: 32px;
}
.saktapai {
	width: 32px;
    height: auto;
    align-self: center;
}
.tlacepai {
	flex-direction: column;
	justify-content: center;
	margin: 16px;
	min-height: unset;
	height: unset;
	align-items: unset;
}
.sakatla {
	opacity: 0.875;
	transform: scale(0.875);
}
.atletla {
	animation: sashe 0.2s ease-out;
}
@keyframes sashe {
	from {
		opacity: 0.875;
		transform: scale(0.875);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

h {
	background-color: var(--តិជាធី);
	border-radius: var(--អិត្ផេចិ);
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 32px;
}
h1 {
	text-align: left;
	margin: 16px;
}
p {
	margin: 0;
	text-align: center;
}
.sashesaikef {
	background-color: transparent;
	width: max-content;
	font-size: x-large;
	text-align: left;
	padding: 8px;
}
.miikef {
	background-color: transparent;
	width: max-content;
	text-align: center;
	padding: 8px;
	margin-inline: 0;
}
.oshiipewa {
	background-color: transparent;
	width: max-content;
	text-align: left;
	align-self: end;
	padding: 8px;
	margin-inline: 0;
}
embed, iframe {
	display: flex;
	border-radius: var(--អិត្ផេ);
}

a:link, a:visited {
	background-color: var(--ពិសាធី);
	border-radius: var(--អិត្ផេចិ);
	border: 1px solid var(--តិជាធី);
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	justify-content: center;
	width: 32px;
}
a:hover, a:active {
	background-color: var(--ពិសាធី២អុមា);
	border: 1px solid var(--តិជាធី២អុមា);
}

thala {
	background-color: var(--ជាងាធី);
	border-radius: var(--អិត្ផេ);
	border: 1px solid var(--ពិសាធី);
	display: flex;
	text-align: center;
	align-items: center;
	padding: 12px;
}
.tapairaq {
	flex-direction: row-reverse;
	align-items: center;
	height: calc(100% - 16px);
}
.tapaisaq {
	flex-direction: row;
	align-items: center;
	height: calc(100% - 16px);
}
.cepai {
	flex-direction: column-reverse;
	align-items: center;
}

ciihii {
	background-color: var(--ពិសាធី);
	border-radius: var(--អិត្ផេចិ);
	border: 1px solid var(--តិជាធី);
	padding: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: calc(100% - 16px);
}
.ciihiitapai {
	align-self: center;
	width: 100%;
	height: calc(100% - 16px);
	display: flex !important;
	align-items: center;
}
.ciihiicepai {
	width: calc(100% - 32px) !important;
	padding: 16px !important;
}

.flak {
	display: flex;
	height: calc(100% - 16px);
	border-radius: var(--អិត្ផេចិ);
	flex-direction: row;
	align-items: center;
}
.flak:hover {
	border: 1px solid var(--តាវាធី២អុមា);
}
.atleflak:before {
	content: "|"
}
.ciihiiflak {
	display: flex;
	overflow: hidden;
    height: 100%;
	align-items: center;
	max-width: 0;
	transition: 0.2s ease-out;
	padding-block: 1px;
}
.ciihiiflakcepai {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	align-items: center;
	max-height: 0;
	transition: 0.2s ease-out;
}
.atleciihiiflak {
	max-width: unset;
}
.flakciihii {
	height: calc(100% - 16px);
	border: 1px solid var(--តិជាធី);
	flex-direction: row;
}
.flakciihiicepai {
	height: unset;
	width: 100%;
	border: 1px solid var(--តិជាធី);
	flex-direction: column-reverse;
	padding-block: 8px;
}

input, textarea {
	background-color: var(--ពិសាធី);
	border-radius: var(--អិត្ផេចិ);
	border: 1px solid var(--តិជាធី);
	height: 94%;
	height: -moz-available;
	height: -webkit-fill-available;
	width: 94%;
	padding: 16px;
}
input:hover {
	background-color: var(--តិជាធី);
}
input:focus {
	border-right: 4px solid var(--កាន្តុនី);
	outline:none;
}

table {
	background-color: var(--ជាងាធី);
	border-radius: 	var(--អិត្ផេ);
	border: 1px solid var(--ពិសាធី);
	width: 100%;
	margin: 4px 0px;
	border-spacing: 8px;
	table-layout: fixed;
}
td {
	background-color: var(--ពិសាធី);
	border: 1px solid var(--តិជាធី);
}
th, td {
	border-radius: var(--អិត្ផេចិ);
	border-collapse: collapse;
	padding: 8px;
	text-align: center;
	width: 50%;
	max-height: 1000em;
	overflow: hidden;
	word-wrap: break-word;
}
.cashiil {
	background-color: var(--ពិសាធី);
	border: 1px solid var(--តិជាធី);
	writing-mode: vertical-lr; 
	width: min-content;
	height: 640px;
	margin-block: 8px;
	margin-inline: 0px;
	align-self: start;
}
.cashiilciihii {
	background-color: var(--តិជាធី);
	border: 1px solid var(--តាវាធី);
}

img {
	border-radius: var(--អិត្ផេ);
	align-self: center;
	height: 75vh;
	pointer-events: none;
}


@media (prefers-color-scheme: dark) {
	:root {
		--ខេលេសៃ: #000;
		--ខេលេសៃច្ហិ: #000000c0;
	
		--ជាងាធី: #181818;
		--ពិសាធី: #282828;
		--តិជាធី: #383838;
		--តាវាធី: #484848;
		--ព៏ធី: #585858;

		--ជាងាធីច្ហិ: #181818c0;
		--ពិសាធីច្ហិ: #282828c0;

		--ពិសាធី២អុមា: #303030;
		--តិជាធី២អុមា: #404040;
		--តាវាធី២អុមា: #505050;

		--កាន្តុនី: #bdbdbd;

		--កេភ: #fff;
		--កេភ២: #c4c4c4;
	}
}

@media (prefers-color-scheme: light) {
	ciihii {
		background-color: var(--ខេលេសៃច្ហិ);
		border-color: var(--ពិសាធី);
	}

	.tahaqkef {
		filter: invert();
	}
}