/* ⟪ j͐ʃᴜ ſ͔ɭᴜ 🔣 ⟫ */

@font-face {
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ.ttf");
}
@font-face {
	font-family: "ꞁȷ̀ɹ ſɭˬꞇᴜ ſ͔ɭɹ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ꞁȷ̀ɹ ſɭˬꞇᴜ ſ͔ɭɹ.ttf");
}
@font-face {
	font-family: "ı],ᴜ }ʃᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ı],ᴜ }ʃᴜ.ttf");
}
@font-face {
	font-family: "ɭʃⲝ ɭʃᴜ oͮſɭᴜ";
	src: url("j͐ʃᴜ ſ͔ɭᴜ/ɭʃⲝ ɭʃᴜ oͮſɭᴜ.ttf");
}

/* ⟪ ꞁȷ̀ɔ j͑ʃƽɔƽ 🔢 ⟫ */

:root {
	--អិត្ភេពឺ: 32px 12px;
	--អិត្ភេ: 24px 8px;
	--អិត្ភេចិ: 20px 8px;
	--អិត្ភេមិ: 16px 4px;
	--ចិង: 64px;

	--តានេកខេលេ: #ffffff10;
	--តានេក: #ffffff10;
	--តានេក២: #ffffff20;
	--តានេក៣: #ffffff30;

	--សាកព៏: 1px solid var(--តានេក);
	--សាកព៏២: 1px solid var(--តានេក២);
	--សាកព៏៣: 1px solid var(--តានេក៣);

	--ខេលេសៃ: #000;
	
	--ឆាងាធី: #181818;
	--ពិសាធី: #282828;
	--តិជាធី: #383838;

	--ខេលេសៃច្ហិ: #000000a0;
	--ឆាងាធីច្ហិ: #181818c0;

	--កេភ: #fff;
	--កេភ២: #c4c4c4;

	--អារេងព៏: 16px;
	--អារេងចិ: 12px;
	--អារេង: 8px;
	--អារេងមិ: 4px;

	--ច្ហិនី: blur(32px);
}
@media (prefers-color-scheme: light) {
	:root {
		--តានេកខេលេ: #00000008;
		--តានេក: #00000010;
		--តានេក២: #00000020;
		--តានេក៣: #00000030;

		--ខេលេសៃ: #fff;
		
		--ឆាងាធី: #f4f4f4;
		--ពិសាធី: #e4e4e4;
		--តិជាធី: #d4d4d4;

		--ខេលេសៃច្ហិ: #ffffffa0;
		--ឆាងាធីច្ហិ: #f4f4f4c0;

		--កេភ: #000;
		--កេភ២: #484848;
	}
}

/* ⟪ ſɭɹ ſᶘɔ *️⃣ ⟫ */

* {
	font-family: "ı],ᴜ }ʃᴜ", "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ";
	font-size-adjust: 0.5;
	color: var(--កេភ);
	text-align: center;
	scrollbar-width: thin;
}
*:not(.flak:not(.flak[open])):not(body):not(ariiba):not(.soza) {
	gap: var(--អារេង);
}

body {
	background-color: var(--ខេលេសៃ);
	margin: 0;
	display: flex;
	flex-direction: row; 
	flex-wrap: nowrap; 
	align-items: center; 
	justify-content: flex-start;
	box-sizing: border-box;
	gap: var(--អារេងចិ);
	transition: all 0.25s ease;
}
html {
	inline-size: 100%;
	block-size: 100%;
	overflow-inline: hidden;
}
sak {
	background-color: var(--កេភ២);
    border-radius: var(--ចិង);
    display: flex;
    text-align: center;
    padding: 2px;
    inline-size: 32px;
	align-self: center;
}
.saka3a {
	opacity: 0.875;
	transform: scale(0.875);
}
.a3e3a {
	animation: saxe 0.25s ease-out;
}
@keyframes saxe {
	from {
		opacity: 0.875;
		transform: scale(0.875);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* ⟪ ſɭɘэ 📄 ⟫ */

h1 {
	margin: var(--អារេងព៏);
	text-align: center;
	font-weight: unset;
	font-family: "ı],ᴜ }ʃᴜ";
}
p {
	margin: 0;
	text-align: center;
}
.cepufal {
	block-size: 100%;
	padding: calc(var(--អារេងព៏) * 2) var(--អារេងព៏);
	writing-mode: sideways-lr;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-inline: hidden;
	font-family: "ı],ᴜ }ʃᴜ";
}
.cepufalxez:not(.kosabo span) {
	display: inline-block;
	writing-mode: lr;
	white-space: nowrap;
	line-height: 1;
}
p:has(> .cepufalxez), h1:has(> .cepufalxez) {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.powukfal.cepufal {
	flex-direction: column-reverse;
}
.powukfal p, .powukfal h, .powukfal a, .powukfal h1, .powukfal button {
	transform: scale(-1, 1);
}
.powukfal a, .powukfal h, .powukfal .flak, .powukfal button {
	border-radius: 8px 20px;
}
.tapufal {
	flex-direction: column;
	align-items: stretch;
	padding: var(--អារេងព៏);
	writing-mode: horizontal-tb;
}
.tapufal * {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "ı],ᴜ }ʃᴜ";
}
.tapufal .cakaxa {
	align-self: stretch;
	justify-content: center;
}
.tapufal .soza.ctama {
	bottom: var(--អារេងព៏);
	top: unset;
	left: var(--អារេងព៏);
	right: var(--អារេងព៏);
}
.tapufal .soza.psaz {
	bottom: var(--អារេងព៏);
	top: var(--អារេងព៏);
	left: var(--អារេងព៏);
	right: unset;
}

/* ⟪ ſɭɔ˞ᴜ ſɭᴜ 🎩 ⟫ */

.saxesukef {
	inline-size: max-content;
	background-color: transparent;
	align-self: center;
	padding: var(--អារេង);
	text-align: left;
	font-size-adjust: 0.75;
}
.ksakap2sa, .ksakat2xa {
	background-color: transparent;
	padding: var(--អារេង);
	margin-inline: 0;
	align-self: center;
	text-align: center;
	font-size-adjust: 0.625;
}
.saxesukef .cepufalxez {
	align-self: center;
	font-size-adjust: 0.75;
	line-height: 1.5 !important;
}
.ksakap2sa .cepufalxez {
	align-self: center;
	font-size-adjust: 0.625;
	line-height: 1.25 !important;
}
.ksakat2xa {
	font-size-adjust: 0.5625;
	line-height: 1.25;
}
.ksakat2xa .cepufalxez {
	align-self: center;
	font-size-adjust: 0.5625;
	line-height: 1.25 !important;
}
.kefhuruq {
	background-color: transparent;
	padding: var(--អារេង);
	margin-inline: 0;
	text-align: left;
	align-self: center;
	font-style: italic;
}

/* ⟪ ſɟᴜ ſᶘɹ }ʃᴜ 🔘 ⟫ */

button, a {
	block-size: 32px;
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេ);
	border: var(--សាកព៏);
	padding: var(--អារេងចិ);
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.125s ease;
}
button {
	block-size: 56px;
	font-size: inherit;
	font-weight: inherit;
}
h {
	block-size: 32px;
	background-color: var(--តានេក២);
	border-radius: var(--អិត្ភេ);
	padding: var(--អារេងចិ);
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
}
button:hover:not(.n2tase), a:hover, a:active, button[aria-pressed="true"]:not(.n2tase) {
	background-color: var(--តានេក២);
}
button:active, a:active {
	border-radius: var(--ចិង);
	transform: scale(0.96875);
}
button[aria-pressed="true"] {
    border: var(--សាកព៏២);
    border-radius: var(--ចិង);
}
button[aria-pressed="true"].caku1o {
	background-color: var(--កេភ);
}
button[aria-pressed="true"].caku1o * {
	color: var(--ខេលេសៃ);
}
select {
	inline-size: 100%;
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេ);
	border: var(--សាកព៏);
	padding: var(--អារេងចិ);
}
.tahak2f p {
	inline-size: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

/* ⟪ ɭʃᴜ̩ᴜ j͐ʃᴜ 🗂️ ⟫ */

thala {
	background-color: var(--តានេកខេលេ);
	border-radius: var(--អិត្ភេពឺ);
	border: var(--សាកព៏);
	padding: var(--អារេងចិ);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
.cakaxa, .cepufal .cakaxa {
	align-self: center;
	flex-direction: row;
	padding: var(--អារេង);
}
.cakaxa *:has(> .cepufalxez) {
	display: flex;
}

ciihii {
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេ);
	border: var(--សាកព៏);
	padding: var(--អារេង);
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

/* j͑ʃɜ ſɭ,ᴜ 🪷 */

.n2tase, ksaka {
	background-color: var(--ឆាងាធីច្ហិ);
	backdrop-filter: var(--ច្ហិនី);
}
button.n2tase:hover::after, button.n2tase[aria-pressed="true"]::after {
	background-color: var(--តានេក);
}
.soza {
	border-radius: var(--អិត្ភេ);
	scale: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: var(--អារេងចិ);
	transition: all 0.25s ease;
}
.soza.er2ha {
	inset: var(--អារេងព៏);
}
.soza.scace {
	inset-inline-start: var(--អារេងព៏);
	inset-block: var(--អារេងព៏);
	overflow: auto;
}
.soza.psaz {
	bottom: var(--អារេងព៏);
	left: var(--អារេងព៏);
	right: var(--អារេងព៏);
}
.soza.ctama {
	bottom: var(--អារេងព៏);
	top: var(--អារេងព៏);
	left: var(--អារេងព៏);
}
.soza.er2ha thala {
	block-size: 100%;
}
maxema {
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
ksaka {
	border-radius: var(--ចិង);
	border: var(--សាកព៏);
	padding-inline: calc(var(--អារេង) * 2);
	padding-block: var(--អារេង);
	display: flex;
	flex-direction: row;
}
ksaka p {
	inline-size: 100%;
	align-content: center;
}
ksaka button {
	inline-size: 56px;
	block-size: auto;
	border-radius: var(--អិត្ភេចិ);
	padding: 0;
}

/* ⟪ ſȷͷ̗ᴜƽ 🪗 ⟫ */

.flak {
	display: flex;
	flex-direction: column;
	border-radius: var(--អិត្ភេចិ);
	border: var(--សាកព៏២);
	min-inline-size: 32px;
	min-block-size: 32px;
	align-items: stretch;
	align-self: stretch;
	padding: var(--អារេង);
}
.flak:hover {
	border: var(--សាកព៏៣);
}
.flak[open]::before {
	content: "—";
	align-self: center;
}
.c2h2flak {
	inline-size: 100%;
	max-block-size: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: max-block-size 0.25s ease, opacity 0.25s ease;
}
.flak[open] .c2h2flak {
	max-block-size: 4096px;
	opacity: 1;
	transition: max-block-size 0.25s ease, opacity 0.25s ease;
}
summary {
	block-size: 100%;
	inline-size: 100%;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.25s ease;
}
summary:active {
	transform: scale(0.9375);
}

/* ⟪ j͑ʃᴜ ʃɜ j͑ʃw j͑ʃп́ɔ ſɟɹ ᶅſɹȝ ſɭw ʃᴜ ⤴️ ⟫ */

.c2w2qkuba, sabosuc2w2q {
	inline-size: 100%;
	border-radius: var(--អិត្ភេ);
	display: flex;
	flex-direction: row;
}
.c2w2qkuba img,
.c2w2qkuba iframe {
	inline-size: auto;
	max-block-size: 512px;
	flex: 0 0 auto;
	display: inline-block;
	scroll-snap-align: center;
}
sabosuc2w2q {
	align-items: center;
	justify-content: center;
}
.qox2n2kucaxema {
	inline-size: 100%;
	display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* ⟪ ꞁȷ̀ᴜ ɽ͑ʃ'ᴜ ſɭэ ſᶘɔ 📝 ⟫ */

ariiba {
	display: flex;
	flex-direction: column; 
	flex-wrap: nowrap;
	gap: var(--អារេងចិ);
}
input, textarea {
	background-color: var(--តានេក);
	border-radius: var(--អិត្ភេចិ);
	border: var(--សាកព៏);
	padding: var(--អារេងព៏);
	align-self: stretch;
}
input:hover {
	background-color: var(--តានេក២);
}
input:focus {
	outline:none;
}
input[type="file"] {
	padding: var(--អារេង);
}
input[type="file"]::file-selector-button {
	margin-inline-end: var(--អារេងចិ);
	background-color: var(--តានេក២);
	border-radius: var(--អិត្ភេមិ);
	border: var(--សាកព៏);
	padding: var(--អារេងចិ);
	color: var(--កេភ);
	font-weight: bold;
	transition: all 0.25s ease;
}
input[type="file"]::file-selector-button:hover {
	background-color: var(--តានេក៣);
}
input[type="color"] {
	min-inline-size: 24px; 
	padding: 0;
}
input[type="checkbox"], .ca12nasabosu, .ca12nasukf2qu {
    inline-size: 24px;
    block-size: 24px;
    background-color: var(--តានេក);
    border-radius: var(--អារេងមិ);
    border: var(--សាកព៏);
	margin: var(--អារេងមិ);
	padding: 0;
    transform: rotate(45deg);
	appearance: none;
	cursor: pointer;
	transition: all 0.25s ease;
}
input[type="checkbox"]:before, .ca12nasabosu:before {
	height: 2px;
    width: 14px;
	background-color: var(--កេភ២);
    border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
    content: "";
    transition: all 0.5s ease;
    transform: translate(-50%, -50%) rotate(-45deg);
}
input[type="checkbox"]:checked, .ca12nasabosu:checked, .ca12nasukf2qu:checked {
    background-color: var(--តានេក៣);
    border-color: var(--កេភ);
}
input[type="checkbox"]:checked:before, .ca12nasabosu:checked:before {
	background-color: var(--កេភ);
    transform: translate(-50%, -50%) rotate(45deg);
}
.ca12nasukf2qu:checked:before {
	height: 8px;
    width: 8px;
	background-color: var(--កេភ២);
    border-radius: var(--ចិង);
	position: absolute;
	right: 31.25%;
    bottom: 31.25%;
    content: "";
    transition: all 0.5s ease;
}
.k6tani {
	appearance: none;
	background-color: var(--តានេក);
	border-radius: var(--ចិង);
	border: var(--សាកព៏);
	padding: var(--អារេងមិ);
    cursor: pointer;
}
.k6tani::-webkit-slider-thumb, .k6tani::-moz-range-thumb {
	appearance: none;
	inline-size: 16px;
	block-size: 16px;
	background-color: var(--កេភ);
	border-radius: var(--ចិង);
	border: 2px solid var(--ខេលេសៃ);
	transition: 0.25s;
}
.k6tani::-webkit-slider-thumb:hover, .k6tani::-moz-range-thumb:hover {
	transform: scale(1.25);
}

/* ⟪ ſɟᴜ ı],ɹͷ̗ 🗃️ ⟫ */

table {
	inline-size: 100%;
	background-color: var(--តានេកខេលេ);
	border-radius: 	var(--អិត្ភេ);
	border: var(--សាកព៏);
	border-spacing: var(--អារេង);
	margin: 0;
	table-layout: fixed;
}
thead, tfoot {
	background-color: transparent;
}
td {
	background-color: var(--តានេក);
	border: var(--សាកព៏);
	font-family: "ʃɹ ı],ɔ ꞁȷ̀ɔ ꞁȷ̀ɹ ſɭˬꞇᴜ", "ı],ᴜ }ʃᴜ";
}
th, td {
	border-radius: var(--អិត្ភេចិ);
	border-collapse: collapse;
	padding: var(--អារេង);
	overflow: hidden;
	text-align: center;
	word-wrap: break-word;
}
pre, tanek {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: start;
}

/* ⟪ ɭʃᴜ ֭ſɭᴜȝ 🖼️ ⟫ */

img, iframe, embed  {
	block-size: auto;
	border-radius: var(--អិត្ភេ);
	border: var(--តានេក);
	align-self: center;
	inline-size: 100%;
}

/* ⟪ ſ͕ɭэ ſɭɹ ᶅſɔ ֭ſɭɹ ⚪ ⟫ */

@media (prefers-color-scheme: light) {
	ciihii {
		background-color: var(--ខេលេសៃច្ហិ);
	}
	.tahaqkef {
		filter: invert();
	}
}
@media (prefers-color-scheme: dark) {
	
	body > button {
		background-color: var(--តានេក២);
	}
	body > button:hover {
		background-color: var(--តានេក៣) !important;
	}
}

/* ⟪ ʃэ ŋᷠэȝ ſɭɹ ſןɹ 🖨️ ⟫ */

@media print {
	.cakaxa {
		display: none;
	}
	thala, ciihii {
		margin: 0;
		padding: 0;
	}
	* {
		background-color: transparent !important;
		border: none !important;
		color: #000 !important;
	}
	body {
		background-color: #fff !important;
	}
	p {
		orphans: 3;
		widows: 3;
	}
}