.map-section {
    inline-size: 100%;
    block-size: 512px;
    position: relative;
    border-radius: var(--អិត្ភេ);
    overflow: hidden;
    border: var(--សាកព៏);
}
#map,
#gridCanvas {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
}
#map .leaflet-tile {
    border-radius: 0;
}
#gridCanvas {
    z-index: 512;
    pointer-events: none;
}
/* ≺⧼ Leaflet 🥬 ⧽≻ */

.leaflet-control-zoom {
    border: var(--សាកព៏) !important;
    border-radius: var(--អិត្ភេ);
    overflow: hidden;
}
.leaflet-control-zoom a {
    background-color: var(--ឆាងាធីច្ហិ);
    backdrop-filter: var(--ច្ហិនី);
    color: var(--កេភ);
    border: none;
    inline-size: 32px;
    block-size: 32px;
    line-height: 32px;
}
.leaflet-control-zoom a:hover {
    position: relative;
}
.leaflet-control-zoom a:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--តានេក២);
    border-radius: inherit;
}
.leaflet-control-zoom-in {
    border-radius: var(--អិត្ភេ) var(--អិត្ភេ) 0 0;
}
.leaflet-control-zoom-out {
    border-radius: 0 0 var(--អិត្ភេ) var(--អិត្ភេ);
}
.leaflet-control-attribution {
    background-color: var(--ឆាងាធីច្ហិ) !important;
    border-radius: var(--អិត្ភេ);
    backdrop-filter: var(--ច្ហិនី);
    color: var(--កេភ២);
    padding: var(--អារេង);
    display: flex;
    flex-direction: column;
    inset-inline-start: var(--អារេង);
    inset-block-end: var(--អារេង);
}
.leaflet-control-attribution a {
    border-radius: var(--អិត្ភេមិ);
    color: var(--កេភ២);
}

.map-section > div:last-child {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1024;
    display: flex;
    flex-direction: column;
    gap: var(--អារេងមិ);
}
.map-section button {
    overflow: hidden;
}
.map-section button::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: transparent;
    transition: background-color 0.25s ease;
    pointer-events: none;
}
